<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body{
            background-color: wheat;
            color: darkblue;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
            font-size: medium;
            letter-spacing: 1.5px;
            line-height: 25px;
        }
    </style>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</head>
<body>
    <h5>{{ post.title }}</h5> <span><a href="javascript:;" onclick="goBack();"> back </a></span>
    <p>{{ post.content }}</p>
</body>
</html>